@import "normalize";

// media query breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

// color palette
$teal: #6FE7DD;
$purple: #521262;
$red: #FF2E63;
$yellow: #FFDE7D;
$black: #252A34;
$dark-gray: #95989A;
$light-gray: #EAEAEA;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Rubik', sans-serif;
}

// remove heading top margins
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

// remove paragraph margins
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media (min-width: $screen-sm) { width: 540px; max-width: 100%; }
  @media (min-width: $screen-md) { width: 720px; max-width: 100%; }
  @media (min-width: $screen-lg) { width: 960px; max-width: 100%; }
  @media (min-width: $screen-xl) { width: 1140px; max-width: 100%; }
}

.navbar {
  padding: 10px 0;
  position: relative;

  @media(max-width: $screen-sm) { text-align: center; }

  .brand {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: inline-block;
    text-decoration: none;
    color: $black;
    font-weight: 500;
  }

  .navigation {
    float: right;
    @media(max-width: $screen-sm) { float: none; }

    .nav-link {
      padding-top: 0.4rem;
      padding-bottom: 0.4rem;
      margin-right: 0.7rem;
      margin-left: 0.7rem;
      display: inline-block;
      text-decoration: none;
      font-weight: 500;
      color: $dark-gray;
    }

    .active { color: $black; }
  }
}

.intro {
  height: 90vh;
  background-color: $teal;

  .hero-text {
    font-size: 45px;
    font-weight: 400;
    color: $purple;
    padding-top: 35vh;
    padding-top: 14rem;
    span { color: $red; }
    @media (max-width: $screen-md) { font-size: 36px; padding-top: 14rem; }
    @media (max-width: $screen-sm) { font-size: 32px; padding-top: 12rem; text-align: center; }
  }
}

.work {
  background-color: $light-gray;
  padding-bottom: 80px;

  .title {
    padding-top: 80px;
    padding-left: 15px;
  }

  .grid {
    padding-top: 30px;

    .grid-item {
      display: inline-block;
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 15px;
      overflow: hidden;
      border-radius: 6px; 

      img { 
        max-width: 100%;
        height: auto; 
        border-radius: 6px; 
      }
    }

    .col-35 { 
      width: 34%; 
      @media(max-width: $screen-md) { width: 49%; }
      @media(max-width: $screen-sm) { width: 100%; }
    }
    .col-40 { 
      width: 39%; 
      @media(max-width: $screen-md) { width: 49%; }
      @media(max-width: $screen-sm) { width: 100%; }
    }
    .col-25 { 
      width: 24%; 
      @media(max-width: $screen-md) { width: 49%; }
      @media(max-width: $screen-sm) { width: 100%; }
    }
  }
}

.contact {
  background-color: $red;
  padding-bottom: 80px;
  
  .title {
    padding-top: 80px;
    color: $purple;
  }

  .inner { padding-left: 15px; }

  .mailto {
    padding-top: 30px;
    display: inline-block;
    font-size: 64px;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    border-bottom: 10px solid $yellow;
  }

  .links {
    padding-top: 50px;

    a {
      color: $purple;
      text-decoration: none;
      padding-right: 30px;
      font-size: 22px;
    }
  }
}